body {
  background-color: #99ad26;
  color: #fdffff;
  width: 415px;
  margin-right: auto;
  margin-left: auto;
}

button{
  padding: 5px 20px;
  color: #fdffff;
  background-color: #2473b8;
  border-style: none;
}

input {
  height: 20px;
}